@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');



@media(min-width:1500px) {

    .container,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl,
    .container-xxl {
        max-width: 1444px;
    }
}

body {
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    background: #111111;
    max-width: 2200px;
    margin: 0 auto;
}

a {
    text-decoration: none;
}

h3 {
    color: #fff;
    font-size: 45px;
    font-weight: 800;
    line-height: 130%;
    text-transform: uppercase;
    margin-bottom: 60px;

    span {
        background: linear-gradient(90deg, #B6B6B6, #B4B4B4 22%, #F3F3F3 50%, #C4C4C4 73%, #E2E2E2 85%, #999999);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        display: inline-block;
    }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

.contactbtn {
    transform: skew(20deg);
    background: linear-gradient(90deg, rgba(245, 179, 36, 0.4), rgba(238, 118, 36, 0.4));
    border: 1px solid;
    border-image-slice: 1;
    border-width: 1px;
    border-image-source: linear-gradient(90deg, #F5B324, #EE7624);

    color: #fff;
    font-weight: 700;
    font-size: 15px;
    text-transform: uppercase;
    height: 46px;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 150px;
    transition: 0.3s;

    span {
        display: inline-block;
        transform: skew(-20deg);
        transition: 0.3s;
    }

    &:hover {
        color: #fff;
        transform: skew(-20deg);

        span {
            transform: skew(20deg);
        }
    }
}

.orangebtn {
    transform: skew(20deg);
    background: linear-gradient(90deg, #F5B324, #EE7624);


    color: #fff;
    font-weight: 700;
    font-size: 17px;
    text-transform: uppercase;
    height: 64px;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 333px;
    width: 100%;
    transition: 0.3s;

    span {
        display: inline-block;
        transform: skew(-20deg);
        transition: 0.3s;
    }

    &:hover {
        color: #fff;
        transform: skew(-20deg);
        box-shadow: 5px 5px 10px #9e511a;

        span {
            transform: skew(20deg);
        }
    }
}






@media(max-width:1599.8px) {
    h3 {
        font-size: 36px;
        font-weight: 800;
        margin-bottom: 40px;
    }

}

@media(max-width:575.8px) {
    h3 {
        font-size: 26px;
        margin-bottom: 20px;
    }
}